.main-container {
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
.ball {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
  